<!DOCTYPE html>
<html>

<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>IMX</title>
</head>

<body style="margin: 0; padding: 0;">
	<p> Welcome to IMX, <%= email %> </p>
	<p> Enter below one time password to verify you email account. </p>
	<p><%= otp %></p>
</body>

</html>